@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?-50c4s6');
	src:url('../fonts/icomoon.eot?#iefix-50c4s6') format('embedded-opentype'),
		url('../fonts/icomoon.woff?-50c4s6') format('woff'),
		url('../fonts/icomoon.ttf?-50c4s6') format('truetype'),
		url('../fonts/icomoon.svg?-50c4s6#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
    font-family: 'walkway_oblique_ultraboldRg';
    src: url('../fonts/Walkway_Oblique_UltraBold-webfont.eot');
    src: url('../fonts/Walkway_Oblique_UltraBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Walkway_Oblique_UltraBold-webfont.woff') format('woff'),
         url('../fonts/Walkway_Oblique_UltraBold-webfont.ttf') format('truetype'),
         url('../fonts/Walkway_Oblique_UltraBold-webfont.svg#walkway_oblique_ultraboldRg') format('svg');
    font-weight: normal;
    font-style: normal;

}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	 /*Better Font Rendering ===========*/ 
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

/*================================================================ Mobile Portrait ====================================*/
body {
	background: #fff;
}
#topbar {
	display: none;
}
#sidebar {
	position: fixed;
	display: inline-block;
	margin-top: 80px;
	width: 75%;
	height: 100%;
	background: rgba(255,255,255, .9);
	border-right: 1px solid rgba(0, 0, 0, .2);
	border-top: 1px solid rgba(0, 0, 0, .2);
	box-shadow: 2px -2px 15px #777;
}
.nav-hide {
	left: -80%;
	transition: .3s;
}
.nav-show {
	left: 0;
}
#sidebar h1 {
	font-size: 2em;
}
#sidebar h2,
#sidebar h1 {
	font-family: 'walkway_oblique_ultraboldRg';
	text-align: center;
}
#sidebar nav {
	margin-top: 15%
}
#sidebar nav li {
	padding: 0 2%;
	list-style-type: circle;
}
#sidebar nav li a {
	margin-left: 30px;
	display: block;
	padding: 10px 0;
	width: 100%;
	height: 100%;
	color: black;
	text-decoration: none;
}
.gallery {
	text-align: center;
}
.gal-title {
	font-family: 'walkway_oblique_ultraboldRg';
	text-align: center;
	width: 100%;
	height: 80px;
	margin: 0;
	padding-top: 5px;
	background: rgba(255, 255, 255, .6);
}
.fixed {
	position: fixed;
	top: 0;
	box-shadow: 0 5px 20px -5px #777;
}
.galFix {
	margin-top: 80px;
}
.float-left {
	margin: 0 auto;
	text-align: center;
	font-size: 1.3em;
	background: rgba(255, 255, 255, .6);
}
.float-left h1,
.float-left h2 {
	display: inline;
	font-family: verdana; 
	font-weight: 100;
	margin: 0 auto;
}
.mob {
	max-width: 410px;
	height: 91px;
	padding-bottom: 0;
	margin-bottom: 0;
	}
.icon-menu:before {
	content: "\e606";
	color: black;
}
.icon-menu {
	text-decoration: none;
	float: left;
	margin-right: -50px;
	margin-left: 4%;
	padding: 2px;
	border: 1px solid lightgray;
	border-radius: 5px;
}
.flex img {
	max-width: 100%;
	height: auto;
	padding: 0;
	margin: 0;
}
.flex {
	text-align: center;
	list-style-type: none;
	width: 100%;
	margin: 0;
	padding: 0;
}
.flex li {
	display: inline;
	cursor: pointer;
	padding: 0;
	margin: 0;
}


/*============================================================== Mobile Landscape ================================================*/

@media (min-width: 420px) {
	.title h1 {
		margin-top: -35px;
		font-size: 3.5em;
	}
	#sidebar {
		text-align: center;
	}
	#sidebar h1 {
		font-size: 1.9em;
	}
	#sidebar nav {
		margin-top: 0;
		text-align: center;
	}
	#sidebar nav hr {
		display: none;
	}
	#sidebar nav li {
		display: inline-block;
		vertical-align: middle;
		margin: 0;
		padding: 0 2%;
		border-left: 1px solid rgba(50, 50, 50, .3);
		border-bottom: none;
	}
	.about-link {
		border-right: 1px solid rgba(50, 50, 50, .3);
		padding-right: 5%  !IMPORTANT;
	}
	#sidebar nav li a {
		font-size: .9em;
		padding: auto 1px;
		margin: 0;
	}
}

/*=================================================Tablets==================================================*/

@media (min-width: 600px) {
	.gal-title h2 {
		width: 100%;
		display: inline-table;
		vertical-align: middle;
	}
	#sidebar {
		width: 42%;
	}
	#sidebar nav hr {
		display: block;
	}
	#sidebar nav li {
		display: list-item;
		font-size: 1.2em;
		border-left: none;
		padding: 1% 0;
		text-align: left;
		list-style-type: circle;
		list-style-position: inside;
	}
	#sidebar nav {
		margin-top: 15%;
	}
	#sidebar nav li a {
		margin-left: 15%;
	}
	.flex img {
		height: 400px;
		margin: 0;
		padding: 0;
	}
	.flex {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	-webkit-display: flex;
	-webkit-flex-wrap: wrap;		
	-webkit-justify-content: center;
	-ms-display: flex;
	-ms-flex-wrap: wrap;		
	-ms-justify-content: center;
	}
}

/*=========================================================================== Desktop ==================================================*/

@media (min-width: 1025px) {
	.gal-title,
	.mob {
		display: none;
	}
	#topbar {
		display: block;
	}
	.title {
		width: 100%;
		position: fixed;
		text-align: center;
		top: 0;
		width: 100%;
		height: 130px;
		border-bottom: 1px solid #e0e0e0;
		background-color: rgba(250,250,250, .6);
		margin: 0;
	}
	.float-left {
		float: left;
		margin-top: 25px;
		margin-left: 40px;
		background-color: transparent;
	}
	.float-left h1,
	.float-left h2 {
		display: inline;
		font-family: verdana;
		font-weight: 100;
		margin: 0 auto;
	}
	.title nav {
		display: inline-table;
		height: 100%;
		border-left: 1px solid #e0e0e0;
		border-right: 1px solid #e0e0e0;
	}
	.title li {
		font-family: verdana;
		font-size: .9em;
		text-align: left;
		list-style-type: none;
	}
	.title a {
		border: none;
		width: 200px;
		display: table-cell;
		color: black;
		text-decoration: none;
		padding: 11px 21px;
	}
	.title a:hover {
		padding-left: 25px;
	}
	.interior-link:hover { 
		color: red;
	}
	.food-link:hover {
		color: green;
	}
	.about-link:hover {
		color: blue;
	}
	.gallery {
		margin: 140px auto;
	}
	.about-me {
		width: 60%;
		height: 300%;
		margin: 60px auto;
		background: rgba(255, 255, 255, .5);
		border-radius: 0 0 5px 5px;
		box-shadow: 3px 3px 5px #777;
		overflow: hidden;
	}
	.about-me:hover {
		overflow: auto;
	}
	.about-me::-webkit-scrollbar {
		background-color: black;
	}
	.about-me > * {
		display: none;
	}
	.about-me hr {
		width: 70%;
	}
}